/* Your custom styles */



#toast-container>div {
    position: relative; 
     overflow: hidden; 
     margin: 0 0 6px; 
     padding: 5px 10px 5px 10px; 
     width: 100%;
     background-position:  center; 
     background-repeat: no-repeat; 
     opacity: .95;
     font-weight: bolder;
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}

.toast {
  border-radius: 2px;
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.0rem;
  font-weight: 100;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}


.red{
	background-color: #d50000;
}

.blue{ 
	background-color: #8bc34a;
}



.ui-modal__mask {
    background-color: rgba(0,0,0,.5);
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    width: 100%;
    z-index: 1050;
}
.ui-modal__header {
     background-color: #ffffff; 
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    height: 3.5rem;
    padding: 0 1.5rem;
    position: relative;
    z-index: 1;
}
.ui-modal__header-text {
    color: #1976d2;
    display: block;
    text-align: center;
}